# Exclude the build directory
build/*
examples/FilterShowcase/build*
 
# Exclude temp nibs and swap files
*~.nib
*.swp
 
# Exclude OS X folder attributes
.DS_Store
.svn
 
# Exclude user-specific XCode 3 and 4 files
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# Documentation
documentation/*

# Carthage
Carthage/Build

### CocoaPods ###
## CocoaPods GitIgnore Template

# CocoaPods - Only use to conserve bandwidth / Save time on Pushing
#           - Also handy if you have a lage number of dependant pods
#           - AS PER https://guides.cocoapods.org/using/using-cocoapods.html NEVER IGONRE THE LOCK FILE
Pods/
